.navbar{
    img{
        width: 4rem;
        border-radius: 50%;
    }
    .img-logo{
            text-decoration: none;
        color: #FFFFFF8C;
        font-size: 2rem;
        display: flex;
    }
    
}